/* debug-twcss/styles/global.css */
@tailwind base;
@tailwind utilities;
@tailwind components;

/* globals.css */
.font-inter {
	font-family: var(--font-inter);
}

.font-adieu {
	font-family: var(--font-adieu);
}

.font-josefin-sans {
	font-family: var(--font-josefin-sans);
}

html {
	scroll-behavior: smooth;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-color: #FCFBF9; /* Correct definition */
	--font-inter: 'Inter', sans-serif;
	--font-adieu: 'Adieu', serif;
	--font-josefin-sans: 'Josefin Sans', sans-serif;
	--font-grotesk: 'Familjen Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}


@layer utilities {
	.font-josefin-sans {
		font-family: 'Josefin Sans', sans-serif;
	}

	.font-adieu {
		font-family: 'Adieu', serif;
	}
}


/* Button Styles */
.btn-primary {
	background-color: #121124; /* Default background color */
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-primary:hover {
	background-color: #ff70b7; /* Hover background color */
}

.btn-primary:disabled {
	background-color: #d3d3d3; /* Disabled background color */
	color: #a9a9a9;
	cursor: not-allowed;
}

/* Secondary Button Styles */
.btn-secondary {
	background-color: white;
	color: #121124;
	border: 2px solid #121124;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.font-inter {
	font-family: var(--font-inter), sans-serif;
}

.btn-secondary:hover {
	background-color: #ff70b7; /* Hover background color */
	color: white;
	border-color: #ff70b7;
}

.btn-secondary:disabled {
	background-color: #d3d3d3; /* Disabled background color */
	color: #a9a9a9;
	border-color: #d3d3d3;
	cursor: not-allowed;
}


/* globals.css */
.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}
