/* debug-twcss/styles/global.css */
@tailwind base;
@tailwind utilities;
@tailwind components;

/* globals.css */
.font-inter {
	font-family: var(--font-inter);
}

.font-adieu {
	font-family: var(--font-adieu);
}

.font-josefin-sans {
	font-family: var(--font-josefin-sans);
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-color: #FCFBF9; /* Correct definition */
	--font-inter: 'Inter', sans-serif;
	--font-adieu: 'Adieu', serif;
	--font-josefin-sans: 'Josefin Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}


@layer utilities {
	.font-josefin-sans {
		font-family: 'Josefin Sans', sans-serif;
	}
	.font-adieu {
		font-family: 'Adieu', serif;
	}
}
